/*
 * Digital Fortress Base CSS Declarations
 * (high-level default styles)
*/
* {
   margin:  0;
   padding: 0;
}

html { 
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	padding: 0;
	background-image:url('images/bg_tex.png');
	background-repeat:repeat-x;
}

.no-margin {
	margin: 0px !important;
}

.no-padding {
	padding: 0px !important;
}

table, form {
	/* Remove Bootstrap bottom table and form padding */
	margin-bottom: 0px !important;
}

table td {
	/* Remove Bootstrap table row lines */
    border-top: none !important;
}

#box-centered {
	display: table-cell;
	text-align: left;
	vertical-align: middle;
}

.navbar-inner {
	border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
}

.transparent-gray-background {
	background-color: rgba(238, 238, 238, 0.8);
}

.large-padding {
	padding: 30px;
}

.logout-pane {
	padding: 7px 0px 5px;
}

/* CSS Classes to create vertical space between elements */
.spacer5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }