/*
 * Digital Fortress Base CSS Declarations
 * (high-level default styles)
*/
* {
   margin:  0;
   padding: 0;
}

html { 
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	padding: 0;
	overflow: hidden;
}

.no-margin {
	margin: 0px;
}

#base-background {
	height: 100%;
	width: 100%;
	display: table;
	background: url('/../images/fortknox.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#box-centered {
	display: table-cell;
	text-align: left;
	vertical-align: middle;
}

.hero-unit {
	background-color: rgba(238, 238, 238, 0.8);
	padding: 30px;
}