/*
 * Digital Fortress Base CSS Declarations
 * (high-level default styles)
*/
* {
   margin:  0;
   padding: 0;
}

html { 
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	padding: 0;
}

.no-margin {
	margin: 0px !important;
}

.no-padding {
	padding: 0px !important;
}

table, form {
	/* Remove Bootstrap bottom table and form padding */
	margin-bottom: 0px !important;
}

table td {
	/* Remove Bootstrap table row lines */
    border-top: none !important;
}

#box-centered {
	display: table-cell;
	text-align: left;
	vertical-align: middle;
}

.navbar-inner {
	border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
}

.transparent-gray-background {
	background-color: rgba(238, 238, 238, 0.8);
}

.large-padding {
	padding: 30px;
}

.logout-pane {
	padding: 7px 0px 5px;
}