/*
 * Digital Fortress Base CSS Declarations
 * (high-level default styles)
*/
* {
   margin:  0;
   padding: 0;
}

html { 
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	padding: 0;
}

.no-margin {
	margin: 0px !important;
}

.no-padding {
	padding: 0px !important;
}

table, form {
	/* Remove Bootstrap bottom table and form padding */
	margin-bottom: 0px !important;
}

table td {
	/* Remove Bootstrap table row lines */
    border-top: none !important;
}

#box-centered {
	display: table-cell;
	text-align: left;
	vertical-align: middle;
}

.navbar-inner {
	border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
}

.transparent-gray-background {
	background-color: rgba(238, 238, 238, 0.8);
}

.large-padding {
	padding: 30px;
}

.logout-pane {
	padding: 7px 0px 5px;
}

/* Colorful Accordion */
body{
	/* Setting default text color, background and a font stack */
	color:#cccccc;
	font-size:13px;
	background: #302b23;
	font-family:Arial, Helvetica, sans-serif;
}

ul{
	margin:0;
	padding:0;
}

ul.container{
	/* The topmost UL */
	width:480px;
	margin:0 auto;
	padding:50px;
}

li{
	list-style:none;
	text-align:left;
}

li.ca_menu{
	/* The main list elements */
	padding:5px 0;
	width:100%;
}

li.ca_button a{
	/* The section titles */
	display:block;
	font-family:BPreplay,Arial,Helvetica,sans-serif;
	font-size:21px;
	height:34px;
	overflow:hidden;
	padding:10px 20px 0;
	position:relative;
	width:480px;
}

li.ca_button a:hover{
	/* Removing the inherited underline from the titles */
	text-decoration:none;
}

li.ca_button a span{
	/* This span acts as the right part of the section's background */
	height:44px;
	position:absolute;
	right:0;
	top:0;
	width:4px;
	display:block;
}

/* Setting up different styles for each section color */
li.ca_button a.ca_blue{background:url(img/blueL.png) repeat-x top left; color:#074384;}
li.ca_button a.ca_blue span{ background:url(img/blueL.png) repeat-x top right;}

/* The hover effects */
li.ca_button a:hover{ background-position:bottom left;}
li.ca_button a:hover span{ background-position:bottom right;}

.ca_dropdown{
	/* The expandable lists */
	display:none;
	padding-top:5px;
	width:100%;
}

.ca_dropdown li{
	/* Each element in the expandable list */
	background-color:#373128;
	border:1px solid #40392C;
	color:#CCCCCC;
	margin:5px 0;
	padding:4px 18px;
}

