/* Colorful Accordion */
ul{
	margin:0;
	padding:0;
}

ul.container{
	/* The topmost UL */
	width:480px;
	margin:0 auto;
	padding:50px;
}

li{
	list-style:none;
	text-align:left;
}

li.ca-menu{
	padding:5px 0;
	width:100%;
	background: white;	
}

.dark-border {
	/* Setup border around accordion */
	border: 2px solid black;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.dark-shadow {
	/* Setup shadow */
	-moz-box-shadow: 6px 6px 5px #CCC;
	-webkit-box-shadow: 6px 6px 5px #CCC;
	box-shadow: 6px 6px 5px #CCC;
}

li.ca-button a{
	/* The section titles */
	display:block;
	font-family:BPreplay,Arial,Helvetica,sans-serif;
	font-size:21px;
	height:34px;
	overflow:hidden;
	padding:10px 20px 0;
	position:relative;
	width:480px;
}

li.ca-button a:hover{
	/* Removing the inherited underline from the titles */
	text-decoration:none;
}

li.ca-button a span{
	/* This span acts as the right part of the section's background */
	height:44px;
	position:absolute;
	right:0;
	top:0;
	width:4px;
	display:block;
}

/* The hover effects */
li.ca-button a:hover{ background-position:bottom left;}
li.ca-button a:hover span{ background-position:bottom right;}

.ca-dropdown{
	/* The expandable lists */
	display:none;
	padding-top:5px;
	width:100%;
}

.ca-dropdown li{
	/* Each element in the expandable list */
	background-color:#373128;
	border:1px solid #40392C;
	color:#CCCCCC;
	margin:5px 0;
	padding:4px 18px;
}
