/* Contains CSS for generic classes that can be used throughout Digital Fortress */

.dark-border {
	border: 2px solid black;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.red-border {
	border: 2px solid red;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.shadow {
	-moz-box-shadow: 6px 6px 5px #111;
	-webkit-box-shadow: 6px 6px 5px #111;
	box-shadow: 6px 6px 5px #111;
}

.gray-bottom-border {
	border-bottom: 2px solid lightgray;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.botmargin20 {
	margin-bottom: 20px !important;
}

.botmargin30 {
	margin-bottom: 30px !important;
}

.bold {
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}