/*
 * Digital Fortress CSS Styles
*/
#home-bar-header {
	display: table-cell;
	text-align: left;
	vertical-align: middle;
}

.hero-unit {
	background-color: rgba(238, 238, 238, 0.8);
	padding: 30px;
}