.row-fluid [class*="span"]:first-child {
	padding-left: 20px !important;
}

.sessionBox {
	background: #FFF;
	padding: 10px 15px 20px;
}

.sessionTitle{
	padding-left: 20px;
	color: white;
	text-decoration: underline;
}

.row-fluid
.span2 {
	width: 17.5% !important;
}

.capturePics{}

.capturePics img{
	width: 48.25% !important;
	height: auto;
	padding: 10px 5px;
}


