<template name="app">

	<div class="navbar">
  		<div class="navbar-inner">
    		<a class="brand" href="#">Digital Fortress</a>
    		<ul class="nav">
    			<li id="btn-nav-record" class="active"><a href="">Record</a></li>
      			<li id="btn-nav-view"><a href="">View</a></li>
      		</ul>
    		<div class="nav pull-right logout-pane">
				{{loginButtons}}  
			</div>
  		</div>
	</div>

	{{#if isRecording}}
		<video id="cam" width="640" height="480"></video>
		<canvas id="resultCanvas" width="640" height="480"></canvas>
		<div id="btn-stop-recording" class="btn btn-danger">Stop Recording</div>
	{{else}}
		<div id="btn-start-recording" class="btn btn-danger">Start Recording</div>
	{{/if}}

</template>