<template name="help">

	{{> navbar}}
	
	<div class="row-fluid">
		<div class="span6 offset3">

			<!-- Question #1 -->
			<li class="ca-menu dark-border shadow center">
				<ul>
					<li class="ca-button gray-bottom-border"><a href="#">What do I do if my laptop is stolen?</a></li>
					<li class="ca-dropdown">
						<p>We suggest you contact the local authority about the theft immidiately. Digital Fortress records images and geolocaton data that may help identify suspects.</p>
					</li>
				</ul>
		 	</li>

		 	<!-- Question #2 -->
			<li class="ca-menu dark-border shadow center">
				<ul>
					<li class="ca-button gray-bottom-border"><a href="#">My Webcam isn't working</a></li>
					<li class="ca-dropdown">
						<p>In the case that you have an external Webcam, we suggest that you make sure that the Webcamera is plugged into your computer and that your computer has all
						appropriate drivers installed. If the problem persists, we recommend rebooting your browser and ensuring that you have given Digital Fortress permission to accesss
						your Webcamera </p>
					</li>
				</ul>
		 	</li>

		 	<!-- Question #3 -->
			<li class="ca-menu dark-border shadow center">
				<ul>
					<li class="ca-button gray-bottom-border"><a href="#">I don't want to track my location</a></li>
					<li class="ca-dropdown">
						<p>Simply uncheck the 'Track Location' checkbox</p>
					</li>
				</ul>
		 	</li>

		 	<!-- Question #4 -->
			<li class="ca-menu dark-border shadow center">
				<ul>
					<li class="ca-button gray-bottom-border"><a href="#">I want to delete the pictures recorded by Digital Fortress</a></li>
					<li class="ca-dropdown">
						<p>If you wish to delete the pictures that have been recorded, you can simply delete them by clicking on the 'Remove Images' button on the bottom of the session
							screen. Remember that Digital Fortress will never give away your personal information to any third-party for any reason whatsoever.</p>
					</li>
				</ul>
		 	</li>

		</div>
	</div>

</template>