<template name="help">

	{{> navbar}}
	
	<div class="row-fluid">
		<div class="span6 offset3">

			<!-- Question #1 -->
			<li class="ca-menu dark-border shadow center">
				<ul>
					<li class="ca-button gray-bottom-border"><a href="#">Example Question #1</a></li>
					<li class="ca-dropdown">
						<p>Example Answer #1</p>
					</li>
				</ul>
		 	</li>

		 	<!-- Question #2 -->
			<li class="ca-menu dark-border shadow center">
				<ul>
					<li class="ca-button gray-bottom-border"><a href="#">Example Question #2</a></li>
					<li class="ca-dropdown">
						<p>Example Answer #2</p>
					</li>
				</ul>
		 	</li>

		 	<!-- Question #3 -->
			<li class="ca-menu dark-border shadow center">
				<ul>
					<li class="ca-button gray-bottom-border"><a href="#">Example Question #3</a></li>
					<li class="ca-dropdown">
						<p>Example Answer #3</p>
					</li>
				</ul>
		 	</li>

		</div>
	</div>

</template>