<template name="home">

	<div id="home-background">

		<div id="box-centered">

			<div class="hero-unit transparent-gray-background large-padding">

				<h1>Digital Fortress</h1>
				<h4>The Poor Man's Security Solution</h4>

				{{#if isBrowserCompatible}}
					{{loginButtons}}
				{{else}}
					{{incompatibilityModal}}
					<p style="color:red">Your browser is incompatible. Please download <a href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a></p>
				{{/if}}

			</div>

		</div>

	</div>

</template>