<template name="home">

	<div id="home-background">

		<div id="box-centered">

			<div class="hero-unit transparent-gray-background large-padding">

				<h1>Digital Fortress</h1>
				<h4>The Poor Man's Security Solution</h4>

				{{#if isBrowserCompatible}}
					{{loginButtons}}
				{{else}}
					<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						
  						<div class="modal-header">
    							<h3 id="myModalLabel">Incompatible Browser</h3>
  						</div>
  						
  						<div class="modal-body">
    					<p style="color:red;">Digital Fortress does not support your browser. Please download a cutting-edge browser like <a href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a></p>
  						</div>
  						
  						<div class="modal-footer">
    						<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  						</div>
					
					</div>
				{{/if}}

			</div>

		</div>

	</div>

</template>