<template name="incompatibilityModal">

	<div id="incompatibilityModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="incompatibilityModalLabel" aria-hidden="true">
							
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="incompatibilityModalLabel">Incompatible Browser</h3>
		</div>
							
		<div class="modal-body">
			<p style="color:red">Digital Fortress is not yet supported by your browser. For now, we recommend using <a href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a>.</p>
		</div>

	</div>
						
	<div class="modal-backdrop fade"></div>

</template>