<template name="incompatibilityModal">
	<div id="myModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: block;">
							
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Incompatible Browser</h3>
		</div>
							
		<div class="modal-body">
			<p style="color:red">Digital Fortress does not support your browser. Please download a cutting-edge browser like <a href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a></p>
		</div>

	</div>
						
	<div class="modal-backdrop fade in"></div>
</template>