<template name="locationPermissionModal">

	<div id="locationPermissionModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="locationPermissionModalLabel" aria-hidden="true" style="display: block;">
		
		<!-- <div class="modal-header">
			<h3 id="locationPermissionModalLabel">Permission needed to access Geolocation</h3>
		</div> -->

		<div class="modal-body">
			<p>Digital Fortress requires your permission in order to access to your Geolocation</p>
		</div>
	</div>
						
</template>