<template name="privacyModal">

	<div id="privacyModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="privacyModalLabel" aria-hidden="true" style="display: block;">
							
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="privacyModalLabel">Privacy Policy</h3>
		</div>
							
		<div class="modal-body">

			<p> This Privacy Policy explains the choices you can make about how the information is collected and used. By using the Sites or by clicking the "Register" or "Submit" button or other relevant button during your initial registration with the relevant Site, you signify your consent that we store and process your personal data in accordance with this Privacy Policy.</p>

			<h4>What type of information is collected?</h4>
			<p>Digital Fortress collects Audio/Video and Geolocation data from your device in order to serve its intended purpose. This information is only collected after your consent.</p>

			<h4>Who has access to this information?</h4>
			<p>Digital Fortress is a non-profit application and does not share your information with any third party.</p>

			<h4>How can this information be removed?</h4>
			<p>Digital Fortress gives the user the power to remove their data through the settings page.</p>

			<h4>Changes to this policy</h4>
			<p>We may change this Privacy Policy from time to time and we will post the latest version as and when it changes. If we ever wish to use your personal information in a way which is incompatible with the information in this Privacy Policy, we will only do so with your consent.</p>
			
		</div>

	</div>
						
</template>
