<template name="record">

	

	{{#if isRecording}}

		{{> recordingInProgress}}

	{{else}}

		{{> navbar}}

		<!-- <head>
			<link rel="stylesheet" type="text/css" href="bootstrap.css">
		</head> -->
		<div class="row-fluid">
			<div class="span4 offset4" style="text-align: center">
				<form>

					<!-- Motion Detection Alerts -->
					<li class="ca-menu dark-border shadow center">
						<ul>
							<li class="ca-button gray-bottom-border"><a href="#">Motion Detection Alerts</a></li>
							<li class="ca-visible-dropdown record-header">

									<label id="label-email">
								    	<input id="checkbox-email" value="Email" type="checkbox"/>
								    	<i class="icon-envelope recordbox"></i>
								    	<b class="recordbox">Email Alerts</b>
								    	<br />
								    </label>
								    <input type="text" id="input-email" class="recordbox" name="emailbox" value="{{userEmail}}" style="display: none">
								    
								    <br />

									<label id="label-text">
								    	<input id="checkbox-text" value="Text" type="checkbox"/>
								    	<i class="icon-list-alt recordbox"></i>
								    	<b class="recordbox">Text Alerts</b>
								    	<br />
								    </label>
								    <input type="text" id="input-text" class="recordbox botmargin20" name="phonenumber" placeholder="123-456-7890" style="display: none">
									
									<br />

							</li>
						</ul>
				 	</li>

					<!-- What to Record -->
					<li class="ca-menu dark-border shadow center">
						<ul>
							<li class="ca-button gray-bottom-border"><a href="#">What to Record</a></li>
							<li class="ca-visible-dropdown record-header">

								<label>
									<input value="Geolocation" type="checkbox" />
									<i class="icon-globe recordbox"></i>
									<b class="recordbox">Geolocation</b>
								</label>
								<br />

								<label>
								    <input value="Audio" type="checkbox" />
								    <i class="icon-volume-up recordbox"></i>
								    <b class="recordbox" >Audio</b>
								</label>
								<br />

							</li>
						</ul>
				 	</li>

					<!-- URL to Share Session -->
					<li class="ca-menu dark-border shadow center">
						<ul>
							<li class="ca-button gray-bottom-border"><a href="#">URL to Share Session</a></li>
							<li class="ca-visible-dropdown">

								<input type="text" class="recordbox botmargin30" value="{{shareURL}}" disabled/>

							</li>
						</ul>
				 	</li>

					<!-- Set Session Password -->
					<li class="ca-menu dark-border shadow center">
						<ul>
							<li class="ca-button gray-bottom-border"><a href="#">Set Session Password</a></li>
							<li class="ca-visible-dropdown record-header">

								<label>Password:</label>
							    <input name="Password" type="password" class="recordbox botmargin20" />

								<label>Confirm Password:</label>
							    <input name="Confirm" type="password" class="recordbox botmargin20" />

							</li>
						</ul>
				 	</li>
				 </form>

				<daid="btn-start-recording" class="btn btn-danger disabled">Start Recording</a>

			</div>
		</div>

		{{!Permission Modals}}
		{{> webCamPermissionModal}}
		{{> locationPermissionModal}}

	{{/if}}

</template>