<template name="record">

	

	{{#if isRecording}}

		{{> recordingInProgress}}

	{{else}}

		{{> navbar}}

		<div class="row-fluid">
			<div class="span6 offset3" style="text-align: center">

				<!-- 
					TODO: Recording settings HTML goes here. 

					Notes - See layout plans for the appearance and necessary features.
						  - May want to create sub-templates to organize HTML better
						    (see how the recording-in-progress template is setup above).
				-->

				<!-- Motion Detection Alerts -->
				<li class="ca-menu dark-border shadow center">
					<ul>
						<li class="ca-button gray-bottom-border"><a href="#">Motion Detection Alerts</a></li>
						<li class="ca-visible-dropdown">
							<p>Stuff 1</p>
						</li>
					</ul>
			 	</li>

				<!-- What to Record -->
				<li class="ca-menu dark-border shadow center">
					<ul>
						<li class="ca-button gray-bottom-border"><a href="#">What to Record</a></li>
						<li class="ca-visible-dropdown">
							<p>Stuff 2</p>
						</li>
					</ul>
			 	</li>

				<!-- URL to Share Session -->
				<li class="ca-menu dark-border shadow center">
					<ul>
						<li class="ca-button gray-bottom-border"><a href="#">URL to Share Session</a></li>
						<li class="ca-visible-dropdown">
							<p>Stuff 3</p>
						</li>
					</ul>
			 	</li>

				<!-- Set Session Password -->
				<li class="ca-menu red-border shadow center">
					<ul>
						<li class="ca-button gray-bottom-border"><a href="#">Set Session Password</a></li>
						<li class="ca-visible-dropdown">
							<p>Stuff 4</p>
						</li>
					</ul>
			 	</li>

				<div id="btn-start-recording" class="btn btn-danger">Start Recording</div>

			</div>
		</div>

		{{!Permission Modals}}
		{{> webCamPermissionModal}}
		{{> locationPermissionModal}}

	{{/if}}

</template>