<template name="recordingInProgress">

	<div id="loading" style="{{isLoadingVisible}}">
		{{#constant}}
			<div class="row-fluid">
				<div class="span4 offset4" style="text-align: center; margin-top: 10%">
					<form>

						<!-- Loading Box -->
						<li class="ca-menu dark-border shadow center">
							<ul>
								<li class="ca-button gray-bottom-border"><a href="#">Time Until Recording Starts...</a></li>
								<li class="ca-visible-dropdown record-header">
									<div class="progress">	
							  				<div id="sessionLoader" class="bar" style="width: 0%"></div>
									</div>	
								</li>
							</ul>
					 	</li>

					 </form>
				</div>
			</div>			
		{{/constant}}
	</div>

	<!-- These elements are required by DFStreamer -->
	<div id="recording-panel" style="{{isRecordingPanelVisible}}">
		{{#constant}}
		<video id="cam" width="640" height="480" autoplay></video>
		<canvas id="resultCanvas"></canvas>

		<div id="btn-stop-recording" class="btn btn-danger">Stop Recording</div>
		{{/constant}}
	</div>

</template>