<template name="recordingInProgress">

	<div id="loading" style="{{isLoadingVisible}}">
		{{#constant}}
			<p>Time Until Recording Starts...</p>
			<div class="progress">	
	  				<div id="sessionLoader" class="bar" style="width: 0%"></div>
			</div>
		{{/constant}}
	</div>

	<!-- These elements are required by DFStreamer -->
	<div id="recording-panel" style="{{isRecordingPanelVisible}}">
		<div class="row-fluid">
			<div class="span8 offset2" style="text-align: center">
				{{#constant}}

					<h1 style="color: white; font-decoration: underline; margin-bottom: 20px">You are being recorded!</h1>
			    	<video id="cam" width="640" height="480" autoplay style="margin-bottom: 20px"></video>
			    	<canvas id="resultCanvas" style="display: none"></canvas>
			    	<br />
			    
			    	<li class="ca-menu dark-border shadow center" style="display: inline-block">
						<ul>
							<li class="ca-visible-dropdown record-header" style="text-align: center; margin-bottom: 10px">
								<h4>To stop recording, enter password below:</h4>
			  					<input name="Password" id="session-password-input" type="password" placeholder="password..." style="margin-bottom: 0px"/>
			    				<div id="btn-stop-recording" class="btn btn-danger disabled">Stop Recording</div>
							</li>
						</ul>
				 	</li>

			 	{{/constant}}
			</div>
		</div>
	</div>

</template>