<template name="view">

	{{> navbar}}

	<!-- Note: The 'row-fluid', 'span4', and 'span8' classes are provided by Bootstrap's fluid grid system. -->
	<div class="row-fluid">

		<div id="session-nav" class="span4">
			{{#each sessions}}
				<a id="{{sessionId}}" class="session-nav-link" href="">{{startTime}}</a>
			{{/each}}
		</div>

		<!-- Details about the current selected session. -->
		<div id="session-details" class="span8">
			<div id="captures">
				{{#each captures}}
					<img src="{{source}}" />
				{{/each}}
			</div>
		</div>

	</div>

</template>