<template name="view">

	{{> navbar}}

	{{! Only print the "normal" view screen when sessions have been recorded. }}
	{{#if sessions}}

		<!-- Note: The 'row-fluid', 'span4', and 'span8' classes are provided by Bootstrap's fluid grid system. -->
		<div class="row-fluid">

			<div id="session-nav" class="span2 sessionBox dark-border shadow center">
				<ul>
					<h4 class="underline">Sessions</h4>

					{{#isolate}}
						{{#each sessions}}
							<p><a id="{{sessionId}}" class="session-nav-link {{isCurrent}}" href="" style="width: 100%">{{title}}</a></p>
						{{/each}}
					{{/isolate}}
					
				</ul>
			</div>

			<!-- Details about the current selected session. -->
			<div id="session-details" class="span9">
				<div id="session-info">

					<div class="sessionTitle">					
						<h4>{{currentSessionTitle}}</h4>
					</div>

					{{#constant}}
					<!-- Locataion Accordion -->
					<li id="tour-location" class="ca-menu dark-border shadow center">
						<ul>
							<li class="ca-button gray-bottom-border"><a href="#">Location</a></li>
							<li class="ca-dropdown">
								<div>
									<p>Urbana, Illinois</p>
									<img src="images/df_map.jpg"/>
								</div>
							</li>
						</ul>
					 </li>

					<!-- Audio Accordion -->
					<li id="tour-audio" class="ca-menu dark-border shadow center">
						<ul>
							<li class="ca-button gray-bottom-border"><a href="#">Audio</a></li>
							<li class="ca-dropdown">
								<img src="images/df_audio.jpg"/>
							</li>
						</ul>
					 </li>
					 {{/constant}}

				</div>

				<li id="tour-pictures" class="ca-menu dark-border shadow center">
					<ul>

						{{#constant}}
							<li class="ca-button gray-bottom-border"><a href="#">Pictures</a></li>
						{{/constant}}

						<li class="ca-picture-dropdown">

							{{#isolate}}
								{{#each captures}}
									<img src="{{source}}" />
								{{/each}}
							{{/isolate}}

						</li>
					</ul>
				 </li>
				
			</div>

		</div>

	{{else}}

		<h3>No sessions found</h3>

	{{/if}}

</template>
