<template name="view">

	{{> navbar}}

	{{! Only print the "normal" view screen when sessions have been recorded. }}
	{{#if sessions}}

		<!-- Note: The 'row-fluid', 'span4', and 'span8' classes are provided by Bootstrap's fluid grid system. -->
		<div class="row-fluid">

			<div id="session-nav" class="span4">
				{{#each sessions}}
					<a id="{{sessionId}}" class="session-nav-link" href="">{{startTime}}</a>
				{{/each}}
			</div>

			<!-- Details about the current selected session. -->
			<div id="session-details" class="span8">
				<div id="session-info">

					<!-- Locataion Accordion -->
					<li class="ca-menu dark-border dark-shadow">
						<ul>
							<li class="ca-button"><a href="#">Location<span></span></a></li>
							<li class="ca-dropdown">
								<ul>
									<li>Last Location (View Map)</li>
								</ul>
							</li>
						</ul>
					 </li>

					<!-- Audio Accordion -->
					<li class="ca-menu dark-border dark-shadow">
						<ul>
							<li class="ca-button"><a href="#">Audio<span></span></a></li>
							<li class="ca-dropdown">
								<ul>
									<li>This is a placeholder for the audio player.</li>
								</ul>
							</li>
						</ul>
					 </li>

				</div>

				<div id="captures">
					{{#each captures}}
						<img src="{{source}}" />
					{{/each}}
				</div>
				
			</div>

		</div>

	{{else}}

		<h3>No sessions found</h3>

	{{/if}}

</template>
