<template name="webCamPermissionModal">

	<div id="webCamPermissionModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="webCamPermissionModalLabel" aria-hidden="true" style="display: block;">
							
		<!-- <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="webCamPermissionModalLabel">Permission needed to access Web Camera</h3>
		</div> -->
							
		<div class="modal-body">
			<p>Digital Fortress requires your permission in order to access to your Web Camera</p>
		</div>
	</div>
						
</template>